:root, body {
  height: 100%;
  background: linear-gradient(to right top, red, orange , yellow, green, cyan, blue, violet, red); 
}

body, a { color: hotpink; }

.opaque { opacity: 0; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}

img {
  filter: grayscale(1.0);
}

img, p {
  max-width: 518.15px;
}

p {
  text-align: center;
}

a, i {
  background: #eeeeeeaa;
}
