:root, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  filter: grayscale(1.0);
}

img, p {
  max-width: 518.15px;
}

p {
  text-align: center;
}
